extends layouts/game

block content
    #main
        #ui
            .preloader
                .bar
                .border
            .unit-active
                .title Active Unit
                .avatar
                .health
                    .label HP
                    .value 300/300
                .actions
                    .title Actiosn
                    .bars
                        .bar
                        .bar
                        .bar
                .commands
                    .move Move
                    .reinforce Reinforce
                    .skip Skip
        #game