extends layouts/game

block content
    #main
        #ui
            .preloader.hidden
                .bar
                .border
            #turn-list.hidden
                .title Turn List
                ul
            #unit-actions.unit-active.hidden
                .title Active Unit
                .avatar
                .health
                    .label HP
                    .value 300/300
                .actions
                    .title Actions
                    .bars
                        .bar.empty
                        .bar.empty
                        .bar.empty
                .commands
                    .move.command Move
                    .reinforce.command Reinforce
                    .skip.command Skip
        #game
