/* ----------------------------------------------------
   created with http://www.texturepacker.com 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:eafee14f4c2edacbe66778f3eca71bbb$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(icons.png);}

.player_red {width:11px; height:11px; background-position: -15px -2px}
.player_yellow {width:11px; height:11px; background-position: -2px -2px}
