/* ----------------------------------------------------
   created with http://www.texturepacker.com 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:75017a238cb6fc1339e6b6836f63c9f0$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(icons.png);}

.message_log_container {width:615px; height:253px; background-position: -2px -656px}
.player_red {width:11px; height:11px; background-position: -619px -894px}
.player_yellow {width:11px; height:11px; background-position: -619px -881px}
.preloader_bg_bottom {width:960px; height:340px; background-position: -2px -2px}
.preloader_bg_top {width:960px; height:310px; background-position: -2px -344px}
.victory_message_logo {width:275px; height:223px; background-position: -619px -656px}
